<h1>Opinions</h1>

<div class="search cf">
  <h2>Search Opinion</h2>
  <input type="text" ng-model="query" placeholder="Search for opinions">

  <div class="formgroup">
    <span class="label">by: </span>
    <select ng-model="order">
      <option value="title">Title</option>
      <option value="opinion">opinion</option>
      <option value="data">Date</option>
    </select>
  </div><!-- formgroup -->

  <div class="formgroup">
    <input id="dirascending" type="radio"
      ng-model="direction" name="direction">
    <label for="dirascending">asc</label>&nbsp;

    <input id="dirdescending" type="radio"
      ng-model="direction" name="direction" value="reverse">
    <label for="dirdescending">desc</label>
  </div><!-- formgroup -->

  <div ng-show="currentUser" class="buttons cf">

    <button ng-hide="recordId" class="btn btn-pick"
      ng-click="pickRandom()">Pick Random</button>

    <button ng-show="recordId" class="btn btn-pick"
      ng-click="recordId=''">Reset</button>

  </div>

</div><!-- search -->

<ul class="userlist cf">
  <li ng-class="opinion.userState"
  ng-repeat="opinion in opinions | orderBy: order:direction | filter: { $id: recordId, $: query }">
    <div class="opinion">
      <div class="buttons">
        <button class="btn btn-delete tooltip"
          ng-show="allowEditOpinion(opinion)"
          ng-click="deleteOpinion(opinion.$id)">
          <span>Delete this opinion</span>
        </button>
        <button class="btn btn-love tooltip"
          ng-click="showReply(opinion)">
          <span>Reply</span>
        </button>
        <button class="btn btn-uparrow tooltip"
          ng-click="vote(opinion.$id, 'ups')" ng-disabled="isVoted(opinion.ups)">
          <span>
            <p ng-repeat="voter in opinion.ups">{{ voter.user }}</p>
            <p>{{ howManyOpinionVotes(opinion, "ups") }}</p>
          </span>
        </button>
        <button class="btn btn-downarrow tooltip"
          ng-click="vote(opinion.$id, 'downs')"  ng-disabled="isVoted(opinion.downs)">
          <span>
            <p ng-repeat="voter in opinion.downs">{{ voter.user }}</p>
            <p>{{ howManyOpinionVotes(opinion, "downs") }}</p>
          </span>
        </button>
      </div><!-- buttons -->
      <div class="info">
        <h2>{{ opinion.title }}</h2>
        <p>{{ opinion.opinion }}</p>
        <div class="date">
          {{ opinion.date | date: "MMM d, yy h:mm a" }}
        </div><!-- date -->
      </div><!-- info -->
      <div class="showopinions" ng-show="opinion.show">
        <form name="replyForm"
          class="cf"
          ng-submit="addReply(opinion, opinion.replyText)"
          novalidate>
          <span class="untouched">
            <input type="text" name="replyText" placeholder="What do you think?"
            ng-model="opinion.replyText" ng-required="true">
          </span>
          <button type="submit" class="btn" ng-disabled="replyForm.$invalid">+</button>
        </form>

        <ul class="replies cf">
          <li class="cf" ng-repeat="(key, reply) in opinion.replies">
            <div class="reply">{{ reply.reply }}
              <div class="buttons">
                <button class="btn btn-delete reply tooltip"
                  ng-show="allowEditReply(reply)"
                  ng-click="deleteReply(opinion.$id, key)">
                  <span>Delete this reply</span>
                </button>
              </div><!-- buttons -->
            </div><!-- reply -->
          </li>
        </ul>
      </div><!-- showopinions -->
    </div><!-- opinion -->
  </li>
</ul>