<section class="card opinions">
  <form name="myform"
    ng-submit="addOpinion()"
    novalidate>

    <div class="textintro">
      <a ng-href="#/talks">go back to talks</a></p>
      <h1>{{ talk.name }}</h1>

      <p class="error formerror" ng-show="message">{{ message }}</p>
    </div>

    <fieldset class="untouched">
      <input type="text" name="title" placeholder="Title"
      ng-model="user.opinionTitle" ng-required="true">

      <input type="text" name="opinion" placeholder="What do you think about it?"
      ng-model="user.opinionText" ng-required="true">
    </fieldset>

    <button type="submit" class="btn"
    ng-disabled="myform.$invalid">State your opinion</button>
  </form>

  <div class="card opinionslist" ng-include="'views/opinions.html'">

    </div>

</section>
