<div class="card talks cf">

  <div ng-include="'views/add_talk.html'"></div>

  <h2>Talks</h2>
  <div class="talk" ng-repeat="(key, talk) in talks">
    <button class="btn btn-delete tooltip"
      ng-show="allowEditTalk(talk)" ng-click="deleteTalk(key)">
      <span>Delete this talk</span>
    </button>

    <a class="btn tooltip"
      href="#/talk/{{talk.$id}}">
      <span>View Talk</span>
      {{talk.name}}
    </a>
    <p>Posted by {{ talk.createdBy.username }}</p>
    <p>on {{ talk.createdAt | date: "MMM d, yy h:mm a" }}</p>
  </div>

</div><!-- talks cf -->
