<div class="card talks cf">

  <div class="textintro">
    <a ng-href="#/talks">go back to talks</a></p>

    <h1>{{ user.firstname }} {{ user.lastname }}</h1>
    <br>
    <hr>
    <br>
  </div>

  <div ng-show="allowEditUser()" ng-include="'views/add_talk.html'"></div>

  <h2>Talks</h2>
  <div class="talk" ng-repeat="(key, talk) in userTalks">
    <button class="btn btn-delete tooltip"
      ng-show="allowEditUser()" ng-click="deleteTalk(key)">
      <span>Delete this talk</span>
    </button>

    <a class="btn tooltip"
      href="#/talk/{{talk.$id}}">
      <span>View Talk</span>
      {{talk.name}}
    </a>
  </div>

  <h2>Opinions</h2>
  <div class="talk" ng-repeat="(key, opinion) in userOpinions">
    <button class="btn btn-delete tooltip"
      ng-show="allowEditUser()" ng-click="deleteOpinion(key)">
      <span>Delete this opinion</span>
    </button>

    <p>{{opinion.text}}</p>

  </div>

</div><!-- talks cf -->
